#todo {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.toolbox {
  text-align: center;
}

.todo.complete h2 {
  text-decoration: line-through;
}


.notes > .note:before {
  content: counter;
}
