<div class="todo">
  <ul>
    <li><%= todo.todo_content %></li>
    <li><a href="todos/<%= todo.id %>" class="delete">Delete</a></li>
    <li><a href="todos/<%= todo.id %>" class="complete">Complete</a></li>
  </ul>
</div>

