 <div id="<%=todo.id%>" class="todo">
  <h2><%= todo.todo_content %></h2>
  <ul>
    <li><a href="#" class="delete">Delete</a></li>
    <% if todo.completed %>
    <% else %>
      <li><a href="#" class="complete">Complete</a></li>
    <% end %>
  </ul>
</div>
